footer {
    padding-block: 20px;
    border-top: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer p {
    font-size: 0.875rem;
    color: var(--textSubtle);
}

footer .footer-note {
    color: var(--textMuted);
}

footer .footer-note span {
    color: var(--accent);
}
